body {
    background-color: #ff1313;
    color: #1d1d1d;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}